        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">General Tables </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">General Tables</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic table -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Basic Table</h5>
                                <form>
                                    <input type="text" name="search">
                                    <input type="submit" value="searching" name="searching">
                                </form>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Hobby</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var ad of adminRecord){ %>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td><%= ad.name %></td>
                                                <td><%= ad.email %></td>
                                                <td><%= ad.city %></td>
                                                <td><%= ad.gender %></td>
                                                <td><%= ad.hobby %></td>
                                                <td><% if(ad.isActive){ %>
                                                        <a href="?active=1&aid=<%= ad.id %>&page=<%= pageNO %>&search=<%= searchData %>" class="btn btn-success">Active</a>
                                                    <% } else { %>
                                                        <a href="?deactive=0&aid=<%= ad.id %>&page=<%= pageNO %>&search=<%= searchData %>" class="btn btn-danger">Deactive</a>
                                                    <% } %>
                                                </td>
                                            </tr>
                                            <% } %>
                                            
                                           <tr>
                                            <td colspan="7">
                                              <%for(var i=1; i<=totalPage; i++){ %>        
                                                <a href="?page=<%= i %>&search=<%= searchData %>"><%= i %></a>
                                              <% } %>
                                            </td>
                                           </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                   
               
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           